<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="AkkaDotNetCore" value="https://www.myget.org/F/akka-netcore/api/v3/index.json" />
    <add key="private" value="http://nugetservertdn.azurewebsites.net/nuget" />
  </packageSources>
  <disabledPackageSources>
    <add key="mynuget" value="true" />
    <add key="mynuget" value="true" />
  </disabledPackageSources>
</configuration>